@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #282828;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
}

#calculator {
    border: 5px rgba(0, 100, 0, 0.493) solid;
    padding: 10px;
    max-width: 450px;
    border-radius: 20px;
    background-color: darkgreen;
}

/* screens */
#screen {
    width: auto;
    height: 175px;
    background-color: greenyellow;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#screen div {
    margin: 10px;
}

#screen-row-1,
#screen-row-2 {
    width: 95%;
    height: 50%;
    text-align: right;
}

#screen-row-1 {
    font-size: 50px;
}

#screen-row-2 {
    font-size: 30px;
}


/* Buttons */
#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

.row {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.row-1 {
    width: 100%;
}

#clear {
    width: 75%;
}

button {
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #101010;
    color: white;
    border: 3px solid black;
}

button:active {
    /* box-shadow: 3px 3px 5px 6px #ccc; */
    box-shadow: inset 0 0 10px #f8a100;
    /* https://css-tricks.com/snippets/css/css-box-shadow/ */
}

.operator {
    background-color: #3c1414;
}

.number:hover {
    background-color: #202020;
}

.operator:hover {
    background-color: #592720;
}